html {
    background: rgba(111,0,255,1);
background: -moz-linear-gradient(-45deg, rgba(111,0,255,1) 0%, rgba(255,196,0,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(111,0,255,1)), color-stop(100%, rgba(255,196,0,1)));
background: -webkit-linear-gradient(-45deg, rgba(111,0,255,1) 0%, rgba(255,196,0,1) 100%);
background: -o-linear-gradient(-45deg, rgba(111,0,255,1) 0%, rgba(255,196,0,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(111,0,255,1) 0%, rgba(255,196,0,1) 100%);
background: linear-gradient(135deg, rgba(111,0,255,1) 0%, rgba(255,196,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f00ff', endColorstr='#ffc400', GradientType=1 );
    min-height: 100%;
    min-width: 100%;
}   overflow-x: hidden; 
    overflow-y: hidden;

body{
	height: 100%;
	width: 100%;
 /*  background: url("../img/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  min-height: 100%;
  font-family: system, -apple-system,
     ".SFNSDisplay-Regular", HelveticaNeue, LucidaGrande;
}

#window{
	position: absolute;
	height: 30%;
	width: 40%;
    top: 40%;
    left: 30%;
	background-color: #000;

	border-radius: 5px;
	background-color: rgba(0,0,0,0.7);
	padding: 0 !important;
	overflow: hidden;
	


}

.maximaze{
	height: 100% !important;
	width: 100% !important;
    top: 0% !important;
    left: 0% !important;
}

.topTray{
	height: 20px;
	overflow: hidden;
	width: 100%;
    opacity: 1 !important;
	overflow: hidden;
	background: rgba(226,226,226,1);
	border-radius: 5px 5px 0 0;
    background: rgba(236,235,236,1);
    background: -moz-linear-gradient(top, rgba(236,235,236,1) 0%, rgba(246,246,246,1) 66%, rgba(209,208,209,1) 99%, rgba(173,172,174,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,235,236,1)), color-stop(66%, rgba(246,246,246,1)), color-stop(99%, rgba(209,208,209,1)), color-stop(100%, rgba(173,172,174,1)));
    background: -webkit-linear-gradient(top, rgba(236,235,236,1) 0%, rgba(246,246,246,1) 66%, rgba(209,208,209,1) 99%, rgba(173,172,174,1) 100%);
    background: -o-linear-gradient(top, rgba(236,235,236,1) 0%, rgba(246,246,246,1) 66%, rgba(209,208,209,1) 99%, rgba(173,172,174,1) 100%);
    background: -ms-linear-gradient(top, rgba(236,235,236,1) 0%, rgba(246,246,246,1) 66%, rgba(209,208,209,1) 99%, rgba(173,172,174,1) 100%);
    background: linear-gradient(to bottom, rgba(236,235,236,1) 0%, rgba(246,246,246,1) 66%, rgba(209,208,209,1) 99%, rgba(173,172,174,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecebec', endColorstr='#adacae', GradientType=0 );
}

.buttonWrapper{
	width: 60px;
	cursor: pointer;
	margin: 0 0 0 5px;
	display: inline-block;
}



.buttonMen{
	margin: 2.5px 0 0 3px;
	height: 11px;
	width: 11px;
	border-radius: 50%;
	
	display: inline-block;
	position: relative;
}





.red{
	background: rgba(223,98,91,1);



}

.red:active{
	background-color: rgba(167,75,69,1);
}

.yellow{
	background-color: rgba(238, 188, 63, 1); 
}

.yellow:active{
	background-color: rgba(178, 144, 50, 1); 
}

.green{
	background-color: rgba(118, 200, 79, 1); 
}

.green:active{
	background-color: rgba(90, 153, 61, 1); 
}

.closeIco{
	position: absolute;
	transform:translate(2.5px,2.5px);
}

.hideIco{
	position: absolute;
	transform:translate(1.5px,2.3px);
}
.maxIco{
	position: absolute;
	transform:translate(1.8px,2.3px);
}


.uiIco{
	display: none;
}

.contentArea{
	padding: 2px 10px; 
}

.topTray p{
	font-size: 13px;
	margin: 0;
	display: inline-block;
	color: gray;
    text-align: center;
	color: rgba(53,53,53,1);
	cursor: default;

    margin-left: 20%; 
}
.contentArea p{
	font-family: 'Andale Mono', AndaleMono, monospace;
	font-size: 11pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin: 0 !important;
	color: rgba(146,253,61,1);



}
.termIco{
	width: 100px;
	height: 100px;
	background: url("../img/term.png") no-repeat; 
  background-size: 90%;
	position: absolute;
	top: 50%;
	left: 90%;
	display: none;

}

.contentArea p:after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@media only screen and (max-width: 600px) {
   
#window{
	height: 70%;
	width: 90%;
	top: 5%;
    left: 5%;



}
}

